DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/dictionary_test
DIRECT_URL=postgresql://USER:PASSWORD@localhost:5432/dictionary_test

ACCESS_SECRET=test_access_secret_change_me
REFRESH_SECRET=test_refresh_secret_change_me

EMAIL_USER=test@example.com
EMAIL_PASS=test_password

API_KEY=test_api_key
