@import "tailwindcss";

.primaryBtn{
  @apply bg-blue-950 hover:bg-blue-400 hover:scale-115 cursor-pointer rounded-full border-2 text-blue-50 scale-105 p-2 m-2 w-32;
}

.xBtn{
  @apply text-blue-950 hover:scale-150 scale-125;
}


.bgThemeColor{
  background-color: #10172a;
}

.textThemeColor{
  color: #066cb1;
}

.error{
  @apply text-red-500 italic;
}

.center{
  @apply flex justify-center items-center;
}

.form{
  @apply space-x-2 space-y-2;
}
.formInput{
  @apply block w-full rounded focus:to-indigo-400 block bg-blue-950 text-blue-50;
}

.background{
  background-image: url('@/public/bg-dictionary.png');

}

.whiteSpaces{
  white-space: pre-line;
}


