@import "tailwindcss";
@import "normalize.css";

@theme {
  --color-main: hsl(var(--main-color));
  --color-second: hsl(var(--second-color));
}

:root {
    --main-color: 222, 33%, 17%;
    --second-color: 217 91% 59%;
}

@layer utilities {
  /* WebKit scrollbar stil za sve elemente */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') transparent;
  }
}

.box-width {
  @apply w-3/4 md:w-[600px];
}

.box-layout{
  @apply  rounded-3xl w-3/4 sm:w-[600px] p-5 bg-main;
}

.text-box{
  @apply text-white text-center;
}


.collapse-window{
  @apply absolute flex justify-end bg-slate-900 top-0 w-full right-0 rounded-t-3xl pr-2; 
}

body{
  font-family: var(--font-roboto), sans-serif;
}

select {
  @apply outline-0;
}

textarea, button {
  @apply outline-0;
}

input{
  @apply active:outline-2 outline-second;
}

.primary-btn {
  @apply bg-second w-full text-white rounded-3xl block my-1 h-[35px] sm:h-[40px] xl:h-[48px] cursor-pointer transition-all duration-100;
}

.primary-btn:hover {
  @apply sm:scale-105
}

.primary-btn:active {
  @apply scale-95 sm:scale-100;
}

.x-btn {
  @apply scale-125 cursor-pointer mr-3 py-1 text-white transition-all duration-100;
}
.x-btn:hover {
  @apply xl:scale-150;
}

.text-color {
  @apply text-main;
}

.error {
  @apply text-red-500 italic;
}

.center {
  @apply flex justify-center items-center;
}

.center-vertically {
  @apply flex flex-col justify-center items-center;
}

.form {
  @apply gap-2;
}

.form-input {
  @apply block w-full p-2 mt-1 h-[35px] sm:h-[40px] md:h-[40px] xl:h-[48px] rounded-3xl text-main bg-white;
}

.background {
  position: relative;
  min-height: 100vh; /* Ensure it has height */
  background-color: hsl(var(--second-color));
}

.background::before {
  content: "";
  position: fixed; /* Keeps background visible even while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Covers full viewport */
  background-image: url("/app_bg.svg");
  background-size: cover; /* Adjust to fit */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3; /* Controls transparency */
  z-index: -1;
}

.white-spaces {
  white-space: pre-line;
}

.title {
  @apply text-center font-bold mt-3;
}
.title:hover {
  @apply underline;
}

.navigation-btn {
  @apply text-[14px] xl:text-[16px] cursor-pointer transition-all duration-200;
}

.navigation-btn:hover {
  @apply text-second
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.btn {
  @apply cursor-pointer;
  animation: show-up 0.3s ease-out forwards;
}

.btn:hover{
  @apply sm:scale-105;
}

.btn:active{
  @apply scale-95;
}

label {
  @apply text-white;
}
